$screen-sm: 768px;

$color-primary: #123456;
$color-secondary: #FF667B;

$gray-light: #eee;
$gray-medium: #aaa;
$gray-dark: #444;

$font-body: 'Raleway';
$font-header: 'Raleway';
$font-cursive: 'Pacifico';
