@import '../../styles/variables';

$sidebar-bg-color: #fff;
$sidebar-width: 375px;

.sidebar {
  background: $sidebar-bg-color;
  padding: 1rem 1rem 2rem;
  position: relative;
  width: $sidebar-width;
  overflow: auto;

  @media (max-width: $screen-sm) {
    overflow: hidden;
    width: 100vw;
    height: auto;
    padding: 1rem 0 0;
  }
}

.app-title {
  color: $color-primary;
  font-family: $font-cursive;
  text-align: center;
  font-size: 2rem;
  margin-top: 0;
  text-shadow:  2px 2px 0px pink;
}

#search-input {
  appearance: none;
  background: white;
  border: 1px solid darken($gray-light, 5%);
  border-radius: 4px;
  box-shadow: none;
  font-size: 1.2rem;
  font-weight: bold;
  outline: none;
  padding: 0.4rem;
  display: block;
  margin-bottom: 1rem;
  width: 100%;
  font-family: Raleway;

  &::placeholder {
    color: $gray-dark;
  }

  @media (max-width: $screen-sm) {
    display: none;
    // position: fixed;
  }
}
