@import '../../styles/variables';

$sidebar-bg-color: #eee;
$sidebar-width: 300px;

.sidebar {
  background: $sidebar-bg-color;
  padding: 0.5rem;
  position: relative;
  width: $sidebar-width;
  overflow: auto;

  @media (max-width: $screen-sm) {
    overflow: hidden;
    width: 100vw;
    height: auto;
    padding: 0.5rem;
  }
}

.app-title {
  color: $color-primary;
  font-family: $font-cursive;
  font-size: 1.75rem;
  margin-top: 0;
  text-shadow:  2px 2px 0px $color-secondary;

  @media (max-width: $screen-sm) {
    font-size: 1.5rem;
  }
}
