@import '../../styles/variables';

$mobile-cell-width: 225px;

.company-list {
  list-style: none;
  margin: 0;
  padding: 0;
  overflow: auto;

  @media (max-width: $screen-sm) {
    display: flex;
    padding: 1rem;
  }
}

.company-cell {
  background: white;
  height: auto;
  padding: 1rem;

  + .company-cell {
    border-top: 1px solid $gray-light;
  }

  .company-cell-header {
    margin-bottom: 1rem;
  }

  .company-cell-image {
    height: 30px;
    width: 30px;
    border: 1px solid $gray-light;
    border-radius: 4px;
    margin-right: 1rem;
  }

  .company-content {
    display: flex;
    flex-direction: column;
  }

  .company-cell-name {
    margin: 0;
    font-weight: bold;
  }

  .company-cell-description {
    font-size: 0.8rem;
  }

  .company-cell-address {
    color: $gray-medium;
    margin-bottom: 10px;

    small:hover {
      cursor: pointer;
      text-decoration: underline;
    }
  }

  .company-cell-icons {
    [class^='ion-'] {
      color: $gray-medium;
      font-size: 18px;
    }
  }

  /* Small Screens */
  @media (max-width: $screen-sm) {
    max-width: $mobile-cell-width;
    min-width: $mobile-cell-width;

    + .company-cell {
      border-left: 1px solid $gray-light;
      border-top: 0;
    }

    .company-cell-address {
      margin: 0 0 .5rem;
    }

    .company-cell-description {
      display: none;
    }
  }
}
