@import '../../styles/variables';

$mobile-cell-width: 250px;
$sidebar-bg-color: #eee;

.search-input {
  appearance: none;
  background: $sidebar-bg-color;
  border: 0;
  border-bottom: 2px solid $gray-medium;
  border-radius: 0px;
  box-shadow: none;
  font-size: 1rem;
  font-weight: bold;
  outline: none;
  padding: 0.4rem;
  display: block;
  margin-bottom: 1rem;
  width: 100%;
  font-family: Raleway;
  transition: 250ms border;

  &:focus {
    border-bottom-color: $color-secondary;
  }

  @media (max-width: $screen-sm) {
    font-size: 0.85rem;
  }
}

.company-list {
  list-style: none;
  margin: 0;
  padding: 0;
  overflow: auto;

  @media (max-width: $screen-sm) {
    display: flex;
    align-content: stretch;
  }
}

.company-cell {
  background: white;
  height: auto;
  padding: 0.75rem;

  + .company-cell {
    border-top: 1px solid $gray-light;
    margin-top: 0.5rem;

    @media (max-width: $screen-sm) {
      padding: 0.5rem;
      margin-top: 0;
      margin-left: 0.5rem;
    }
  }

  .company-cell-header {
    margin-bottom: 1rem;
  }

  .company-cell-image {
    border-radius: 4px;
    height: 30px;
    width: 30px;
    margin-right: 1rem;

    @media (max-width: $screen-sm) {
      height: 25px;
      width: 25px;
    }
  }

  .company-content {
    display: flex;
    flex-direction: column;
  }

  .company-cell-name {
    margin: 0;
    font-weight: bold;

    @media (max-width: $screen-sm) {
      font-size: 1rem;
    }
  }

  .company-cell-description {
    font-size: 0.8rem;
  }

  .company-cell-address {
    color: $gray-medium;
    margin-bottom: 10px;

    small:hover {
      cursor: pointer;
      text-decoration: underline;
    }
  }

  .company-cell-icons {
    [class^='ion-'] {
      color: $gray-medium;
      font-size: 18px;
    }
  }

  /* Small Screens */
  @media (max-width: $screen-sm) {
    max-width: $mobile-cell-width;
    min-width: $mobile-cell-width;

    + .company-cell {
      border-left: 1px solid $gray-light;
      border-top: 0;
    }

    .company-cell-address {
      margin: 0 0 .5rem;
    }

    .company-cell-description {
      display: none;
    }
  }
}
